* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/*----------------------HEADER------------------------*/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
}

.logo {
  cursor: pointer;
}

.nav__links {
  list-style: none;
}

.nav__links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav__links li a {
  transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
  color: #2f303a;
}
/*----------------------MOTTO------------------------*/

.motto {
  background-color: #2f303a;
}
/*----------------------SKILLS------------------------*/

.skills {
  background-color: #ffffff;
}
/*----------------------WHAT WE DO------------------------*/

.what-we-do {
  background-color: #ffffff;
}
/*----------------------OUR TEAM------------------------*/

.our-team {
  background-color: #f5f4fa;
}
/*----------------------FOOTER------------------------*/

.footer {
  background-color: #2f303a;
  color: #fff;
}
