:root {
  --text-color: #212121;
  --brand-color: #2196f3;
  --background-color: #e5e5e5;
}
/* BODY */
.body {
  box-sizing: border-box;
  margin: 3px;
  padding: 0;
  font-family: Roboto, sans-serif, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
.header {
  padding: 3px;
  border-style: solid;
  border-color: #ececec;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #fff;
  color: var(--text-color);
}
.link:focus,
.link:hover {
  color: var(--brand-color);
}

.logo {
  @todo;
}

.navigation {
  @todo;
}

.nav-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.nav-links .link:hover,
.nav-links .link:focus,
.nav-links .link:active {
  color: var(--brand-color);
}
/* INDEX */
.hero {
  font-family: inherit;
}
.skills {
  font-family: inherit;
}
.what-we-do {
  @todo;
}
.our-team {
  font-family: inherit;
}

/* PORTOFOLIO */
/* PORTOFOLIO FILTRES BAR  */
.filters {
  @todo;
}

.navigation-filters {
  @todo;
}

.nav-button {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
}
.nav-button .button:hover,
.nav-button .button:focus,
.nav-button .button:active {
  background: var(--brand-color);
}

/* PORTOFOLIO ARTICLES  */
.articles {
  font-family: inherit;
}

/* FOOTER */
.footer {
  padding: 60px 1100px 60px 215px;
  background-color: #2f303a;
  color: #fff;
}
